In [1]:
%load_ext autoreload
%autoreload 2

In [6]:
import pandas as pd
from country_list import countries_for_language
from src.data.some_dataloader import *
from collections import defaultdict

In [38]:
def country_occurences_in_files():
    countries = list(dict(countries_for_language('en')).values())

    counts = defaultdict(dict)

    for file_ in plaintext_files_iterator():
        filename = file_.split('/')[-1]
        with open(file_, 'r') as f:
            content = f.read()
            
            for country in countries:
                counts[country][filename] = content.count(country)
                
    df = pd.DataFrame(counts)
    return df

In [40]:
country_data = country_occurences_in_files()
country_data.head()

,Afghanistan,Åland Islands,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antarctica,Antigua & Barbuda,...,Uzbekistan,Vanuatu,Vatican City,Venezuela,Vietnam,Wallis & Futuna,Western Sahara,Yemen,Zambia,Zimbabwe
%C3%81ed%C3%A1n_mac_Gabr%C3%A1in.txt,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
%C3%85land.txt,0,16,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
%C3%89douard_Manet.txt,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
%C3%89ire.txt,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
%C3%93engus_I_of_the_Picts.txt,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
def filter_top_k(df, k, N):
    filtered_df = pd.DataFrame(index=df.index, columns=[f"Top_{i+1}_name" for i in range(k)] + [f"Top_{i+1}_count" for i in range(k)])
    
    for row in df.iterrows():
        filename = row[0]
        data = row[1]
        top_counts = data.sort_values(ascending=False)
        
        top_countries = top_counts[top_counts > N].head(k)
        top_countries_name = top_countries.index.tolist()

        
        for i, country in enumerate(top_countries_name):
            filtered_df.loc[filename, f"Top_{i+1}_name"] = country
            
        for i, country in enumerate(top_countries):
            filtered_df.loc[filename, f"Top_{i+1}_count"] = country
        
    return filtered_df
                
filter_top_k(country_data, k=3, N=5)

,Top_1_name,Top_2_name,Top_3_name,Top_1_count,Top_2_count,Top_3_count
%C3%81ed%C3%A1n_mac_Gabr%C3%A1in.txt,Ireland,NaN,NaN,8,NaN,NaN
%C3%85land.txt,Finland,Åland Islands,Sweden,36,16,12
%C3%89douard_Manet.txt,NaN,NaN,NaN,NaN,NaN,NaN
%C3%89ire.txt,Ireland,NaN,NaN,43,NaN,NaN
%C3%93engus_I_of_the_Picts.txt,Ireland,NaN,NaN,9,NaN,NaN
...,...,...,...,...,...,...
Zirconium.txt,NaN,NaN,NaN,NaN,NaN,NaN
Zoroaster.txt,Iran,NaN,NaN,15,NaN,NaN
Zuid-Gelders.txt,NaN,NaN,NaN,NaN,NaN,NaN
Zulu.txt,South Africa,NaN,NaN,15,NaN,NaN
ZX_Spectrum.txt,NaN,NaN,NaN,NaN,NaN,NaN